* {
  margin: 0;

}

a {
  text-decoration: none;
}

/*-----------------------------Header  */
header {
  background-color: #fff;
  width: 100%;
  height: 70px;
  display: inline-block;
}

header .header_brand {       /*defines logo style*/
  font-family: Montserrat;
  font-size: 24px;
  text-align: center;
  float: left;
  padding: 20px 0px 0px 40px;
  line-height: 28px;



  /*color: #111;
  font-weight: 900;
  text-transform: uppercase;


  text-align: center;*/
}

header .sidebar_button {
  float: right;
  padding: 20px 40px 0px 0px;

  background: none;
  border: none;
  margin: 0px;


}

.sidebar_button .bar{
  display: block;

  width: 30px;
  height: 4px;

  border: 0.5px solid #571111;
  background-color: #430B0B;
  border-radius: 10em;
  margin: 3px 0px;

}

.menu_list {

  list-style: none;
  display: block;

}

.nav_sidebar {
  height: 100%;
  /*width: 250px;*/
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #2E282A;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.nav_sidebar .anchor_menu{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

  font-family: Montserrat;
  font-size: 24px;
}

.nav_sidebar .closebtn {
  position: absolute;
  top: 8px;
  right: 40px;
  font-size: 36px;
  margin-left: 50px;}

.slideshow_container {
  position: relative;
  text-align: center;
  max-width: 100%;
  height: 600px;
  padding: 0 0px;
  border: 2px solid red;
    }

  /*slide show*/
.homeSlide {
  width: 100%;
  height: 600px;
}

 /*Banner text*/


.banner-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

.onet-color {
  color: white;
}

.secondt-color {
  color:yellow ;
}

/*tile box*/
.name-tiles{
  width: 100%;
  height: auto;
  /* border: 2px solid red; */
  position: relative;
}
.square-box {
  width: 40%;
  height: 150px;
  background-color: #D3D3D3;
  display: block;
}

.square-one{
  margin: 10px 0 0 10px;
}
.square-two{
  margin: 10px 0 10px 10px;
}

.rectangle-box {
  width: 50%;
  height: 310px;
  background-color: #D3D3D3;
  margin: 0px 10px 0px 0px;
  /* border: 2px solid red; */
  display: block;
  position: absolute;
  right: 0;
  top: 0;

}

.tile-text {
  font-family: sans-serif;
  font-weight:bolder;
}

.tile-text-square {
  text-align: center;
  padding: 65px 0;

}

.tile-text-rectangle {
  text-align: center;
  padding: 145px 0;
}

@media screen and (min-width: 700px ) {
  header .sidebar_button {
    display: none;
  }

  .menu_list {

    list-style: none;
    display: block;

  }

  .closebtn{
    display: none;
  }

  .nav_sidebar {
    width: auto;
    height:auto;
    background-color: rgba(0, 0,255, 0);
    position: absolute;


     /*change font and weight for sidebar and this*/

    margin: 0;
    padding: 20px 40px 0 0;

  }

  .nav_sidebar .anchor_menu{
    margin: 0;
    padding: 0 5px;
  }

  .nav_sidebar .menu_list {
    display: inline-block;
  }

  .nav_sidebar .closebtn {
    display: none;
  }

  /*Slideshow Banner desktop*/
  .slideshow_container {
    position: relative;
    text-align: center;
    max-width: 100%;
    height: 400px;
    padding: 0 0px;
    }

  .homeSlide {

    width: 100%;
    height: 400px;

  }

  .banner-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

   }

   .name-tiles{
   }
/*remove extra space between tiles*/

}



/*-----------------------------Footer  */
footer {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 80px 0;
  font-family: Montserrat
  color: grey;
  display: none;

}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}


.footer-text {
  font-family: Montserrat;

}

.contact {
  text-align: center;

}

.sm_logo {
  display: inline-block;

}
